#game {
    position: relative;
    width: 720px;
    height:241px;
    background: url('../images/back_dino.png');
    background-size: cover;
    display: flex;
}



#dino {
    width: 80px;
    height: 80px;
    background-image: url('../images/dino.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: white;
    position: absolute;
    margin-bottom: 120px;
}