.footer {
    background: #fff;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
  }
    
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
    margin-top: 61px;
  }
  
  .logo img {
    margin-top: 14px;
    width: 165px;
  }
  
  .footer-contacts {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 12px;
    line-height: 170%;
  }
  
  .footer-subscribe {
    margin-top: 36px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .footer-subscribe form {
    display: flex;
    align-items: center;
    gap: 36px;
    margin-bottom: 18px;
  }

  .footer-subscribe input {
    padding: 10px 10px;
    border-radius: 20px;
    border: none;
    background-color: #D7D7D7;
    width: 204px;
  }
  
  .footer-subscribe button {
    padding: 10px 10px;
    border: none;
    border-radius: 20px;
    background: #000000;
    color: #FFFFFF;
    cursor: pointer;
    width: 107px;
  }
  
  .footer-subscribe .note {
    font-size: 7px;
    color: #666;
  }
  
//   _____________Модальне вікно______________

  .modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
  }

  .modal.active {
    display: block;
  }

  .modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    width: 463px;
    height: 245px;
    border-radius: 20px;
    position: relative;
  }
  
  .modal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 69px;
  
  }
  .modal-text p{
    font-size: 20px;
    line-height: 100%;
    font-family: "Inter", sans-serif;
    margin: 0;
    padding-top: 14px;
  }
  .modal-text {
    display: flex;
    align-items: center;
    gap: 55px;
    text-align: center;
    margin-bottom: 38px;
  }

  .modal-img {
    display: flex;
    gap: 230px;
    justify-content: center;
  }

  .modal .close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 40px;
    cursor: pointer;
  }
