.h1-main {
    font-family: "Montserrat Alternates";
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
