.head-p {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 11px;
    cursor: pointer;
}

.head-selection {
   display: inline-block;
    margin-top: 11px;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-style: normal;
    // border-color: none;
    outline: none;
    border: transparent;
    border: none;
    border: 0px;
}

.ul-header{
     display: flex;
    gap: 50px;
    
}

.header-div{
    display: flex;
    gap: 50px;
    margin-top: 21px;
}

// .header{
//     // display: flex;
//     // align-items: center;
//     // justify-content: center;
// }

// .logo{
//     margin-left: 175px;
// }

.switcher{
    margin-left: 361px;
    cursor: pointer;
    margin-bottom: 5px;
}






.nav-menu {
    display: none;
    position: absolute;
    margin-left: auto;
    top: 50px;
    left: 500px;
    background: white;
    padding: 10px;
    border: 1px solid #ccc;
}
.burger-menu {
    font-size: 10px;
    background: none;
    border: none;
    cursor: pointer;
}

.label-darkmode {
    width: 40px;
    height: 20px;
    position: relative;
    display: block;
    background: #7A7A7A;
    border-radius: 11px;
    cursor: pointer;
    transition: 0.3s;
}

.label-darkmode:after {
    content: " ";
    width: 20.5px;
    height: 20px;
    position: absolute;
    background: #FFFFFF;
    border: 0.7px solid #000000;
    border-radius: 180px;
    transition: 0.3s;
    background-image: url('../images/sun.svg');
    background-size: cover;
    background-size: 15.03px 14.67px;
    background-repeat: no-repeat;
    background-position: center;

}

.input-darkmode {
    width: 0;
    height: 0;
    visibility: hidden;
}

.input-darkmode:checked+.label-darkmode:after {
    transform: translateX(100%);
    background: #000000;
    background-image: url('/src/images/moon.svg');
    background-size: cover;

}