h1,
h2,
h3,
h4,
h5,
h6,
p,
button {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.reset-il{
    margin: 0;
    padding: 0;
    list-style: none;
}


a {
    text-decoration: none;
}

button {
    border: none;
    cursor: pointer;
}

img {
    display: block;
    // max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}

*,
::before,
::after {
    box-sizing: border-box;
}

.cont {
    width: 1440px;
    margin: 0 auto;
    padding: 0 16px;
}

.standart{
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    //line-height: 100%;
    // letter-spacing: 0%;
    
}

// ::marker{
//     display: none;
// }

ul::marker, ol::marker {
    content: ''; /* Прибирає маркер */
    color: white;
}
