body {
    margin: 0;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    background-color: #fff;
    color: #000;
    padding: 20px;
}


.choices {
    display: flex;
    justify-content: center;
    gap: 38px;
    margin-bottom: 20px;
}

.choice {
    background: #000;
    border: none;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
}

.choice img {
    width: 60px;
    height: 60px;
}

#result {
    margin: 20px 0;
    font-size: 16px;
    color: green;
}

#computerBtn {
    margin: 20px;
    padding: 10px 20px;
    background: black;
    color: white;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    font-family: 'Montserrat Alternates', sans-serif;
}

.score {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

h1 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-bottom: 20px;
}

.choices-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 104px;
    margin-bottom: 20px;
}