.container {
    align-items: center;
    justify-content: center;
}
.choices {
    display: flex;
    justify-content: center;
    gap: 38px;
    margin-bottom: 20px;
}

.choice {
    background: #000;
    border: none;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
}

.choice img {
    width: 60px;
    height: 60px;
}

#result {
    font-size: 16px;
    color: green;
    margin-left: 255px;
}

#computerBtn {
    padding: 10px 20px;
    background: black;
    color: white;
    border: none;
    margin-left: 215px;
    border-radius: 16px;
    cursor: pointer;
    font-family: 'Montserrat Alternates', sans-serif;
}


.choices-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 104px;
    margin-bottom: 36px;

}