.timecalc-container {
    width: 576px;
    margin-top: 36px;
    margin-bottom: 16px;
  }
  
  .timecalc-input {
    width: 215px;
    height: 35px;
    background-color: #d7d7d7;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: none;
    font-size: 12px;
    text-align: center;
  }
  
  .timecalc-btn {
    width: 35px;
    height: 35px;
    background-color: #000000;
    border-radius: 0 20px 20px 0;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-right: 50px;
  }
  
  .timecalc-btn svg {
    width: 16px;
    height: 16px;
    fill: white;
  }
  
  .timecalc-result {
    font-size: 12px;
    font-weight: 400;
    margin-right: 10px;
  }
  
  .timecalc-output {
    font-size: 14px;
    font-weight: 500;
    color: #000;
  }
  
  .red {
    color: red;
  }
  