.ybck{
margin-right: 149px;
width: 35px;
height: 35px;
background-color: #000000;
border-radius: 0px 20px 20px 0px;
//position: absolute;
}

.ybc{
    background-color: #D7D7D7;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    
    width: 215px;
    height: 35px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: none;
    // margin-bottom: 10px;
    // margin-left: 10px;
}

.green{
    color: #039900;
}

.red{
    color: #FF0000;
}

.inp{
    width: 576px;
//     display: flexbox;
//     justify-content: center;
//     align-items: center;
 }