@import './reset';
@import './enterModal';
@import './header';
@import './main';
@import './h1main';
@import './name-main';
@import './yobc';
@import './calculator';
// @import './footer';
@import './ssp';
@import './footer';
@import './dino';