<!-- <button class="button" data-action="open-modal">Відкрити модалку</button> -->

    <div class="backdrop js-backdrop">
      <div class="modal ">
        <!-- <h2>Modal window</h2> -->
        <div class="help">
            <p class="standart pInf">
                Привіт! <br>
                Ви потрапили на сайт інтерактивних ігор та завдань <br>
                Надіємось, що вам сподобається і ви отримаєте позитивні емоції! <br>
                Бажаємо Вам гарно провести час! <br>
            </p>
        </div>
        <p class="standart pName help">Введіть ваше ім'я:</p>
       <div class="help"> <input type="text" id="inpVal" class="inputS help" placeholder="Ваше ім'я..." required /></div>
        <!-- <button type="bitton" class="'button" data-action="close-modal">
          Продовжити
        </button> -->
        <div class="help">
            <button type="button" class="buttonM" data-action="close-modal">
            <p class="btn-col-p">Закрити</p>
          </button></div>
      </div>
    </div>
