<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <div class="footer-left">
        <div class="logo">
          <img src="" alt="Logo" />
        </div>
        <ul class="contact-info">
          <li>Тел: +38 (123) 456 78 90</li>
          <li>E-Mail: codingmagic@gmail.com</li>
          <li>Facebook: CodingMagic</li>
          <li>Twitter: CodingMagic</li>
          <li>Instagram: CodingMagic</li>
        </ul>
      </div>
      <div class="footer-right">
        <input type="email" id="email" placeholder="Ваша ел. адреса..." />
        <button id="subscribeBtn">Підписатись</button>
        <p class="note">
          *Підписавшись, Ви можете отримувати інформацію про новинки на сайті
        </p>
      </div>
    </div>
  </div>
</footer>
