<header class="header cont">
  <div class="header-div">
    <img class="logo" src="/src/images/Group4.svg" alt="logo" />
    <ul class="ul-header">
      <li>
        <p class="head-p">Інтерактив</p>
        <select name="pets" id="pet-select">
          <option value="">Інтерактив</option>
          <option value="count">Числовий</option>
          <option value="game">Ігровий</option>
          <option value="infor">Ознайомчий</option>
        </select>
      </li>
      <li>
        <p class="head-p">Наша команда</p>
      </li>
      <li>
        <p class="head-p">Контакти</p>
      </li>
    </ul>
    <img class="switcher" src="/src/images/Group71.svg" alt="switcher" />
    <p class="head-p">Вітаємо, <span id="name-output">User</span>!</p>
  </div>
</header>
