<header class="header cont">
    <div class="header-div">
        <img class="logo" src="/src/images/Group 4.svg" alt="logo">
        <ul class="ul-header">
            <li>
                <p class="head-p">Інтерактив</p>
                <button class="burger-menu">☰</button>
                <nav class="nav-menu">
                    <ul>
                        <li><a href="#">Главная</a></li>
                        <li><a href="#">О нас</a></li>
                        <li><a href="#">Контакты</a></li>
                    </ul>
                </nav>
            </li>
            <li>
                <p class="head-p">Наша команда</p>
            </li>
            <li>
                <p class="head-p">Контакти</p>
            </li>
        </ul>
        <img class="switcher" src="/src/images/Group 71.svg" alt="switcher">
        <p class="head-p">Вітаємо, <span id="name-output">User</span>!</p>
    </div>
</header>